@use '../util' as *;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
}
.title {
    font-weight: 900;
    font-size: rem(36);
    text-align: center;
    text-transform: uppercase;
    line-height: rem(24);

    @include breakpoint-down(tablet){
        font-size: rem(30);
    }
    @include breakpoint-down(small){
        font-size: rem(20);
    }
    span{
        font-weight: 900;
    }
    &--brown{
        color: var(--brown);
        font-weight: 300;
    }
    &--white{
        color: var(--white);
        font-weight: 300;
    }
}

.paragraph {
    font-weight: 400;
    font-size: rem(14);
    line-height: 177%;

    @include breakpoint-down(tablet){
        font-size: rem(13);
    }
    @include breakpoint-down(small){
        font-size: rem(12);
    }
}
