@use '../util' as *;

.equipe {
  margin: rem(100) 0;
  @include breakpoint-down(small) {
    margin: rem(48) 0;
  }
  &-blocs {
    gap: rem(10);
    @include breakpoint-down(small) {
      grid-template-columns: repeat(1, 1fr);
    }
    &--text {
      display: flex;
      flex-direction: column;
      align-self: center;
      .title {
        color: var(--brown);
        @include breakpoint-down(tablet) {
          font-size: rem(30);
        }
        b {
          font-weight: 300;
        }
      }
      .paragraph {
        margin: revert;
      }
      .btnbg {
        align-self: center;
      }
    }
    &--img {
      display: flex;
      flex-direction: column;
      align-self: center;
      .row {
        gap: rem(20);
      }
      .expand {
        width: 100%;
        height: rem(900);
      }
      .slider1 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l1profil1.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
      }
      .slider2 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l1profil2.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.7s ease-in-out;
      }
      .slider3 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l1profil3.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.9s ease-in-out;
      }
      .slider4 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l2profil1.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
      }
      .slider5 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l2profil3.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.9s ease-in-out;
      }
      .slider6 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l3profil1.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s ease-in-out;
      }
      .slider7 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l3profil2.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.7s ease-in-out;
      }
      .slider8 {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559089/dkfarm/accueil/equipes/l3profil3.png);
        height: rem(200);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.9s ease-in-out;
      }
      .cercle {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1667559079/dkfarm/accueil/equipes/button1.png);
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.7s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
