{% set page_title = "Blog" %} {% extends "layout.html" %} {% block metadata
%} {% endblock %} {% block content %}
<section class="bannerblog">
    <div class="bannerblog__container container">
        <h2 class="bannerblog__title">blog</h2>
        <p class="paragraph paragraph--white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            repellat voluptates <br />
            voluptas nulla, architecto animi aut quos obcaecati, tempora
            corrupti nostrum <br />
            consequatur sed? Cum
        </p>
    </div>
</section>
<section class="cards container grid-3">
    <a href="blogpostone.html" class="cards__item">
        <div class="cards__item__img">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669298089/dkfarm/blog/blog1.png"
                alt=""
            />
        </div>
        <div class="cards__item__text">
            <p class="cards__item__text--1">August 9, 2022</p>
            <h2 class="cards__item__text--2">
                Top 5 Easy and cheap organig breakfast Recipes
            </h2>
            <p class="cards__item__text--3 paragraph paragraph--black">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
            </p>
        </div>
    </a>

    <a href="blogposttwo.html" class="cards__item">
        <div class="cards__item__img">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669298089/dkfarm/blog/blog2.png"
                alt=""
            />
        </div>
        <div class="cards__item__text">
            <p class="cards__item__text--1">August 9, 2022</p>
            <h2 class="cards__item__text--2">
                Everyday Dinner Choices for a healthier, Happier you
            </h2>
            <p class="cards__item__text--3 paragraph paragraph--black">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
            </p>
        </div>
    </a>

    <a href="blogpostthree.html" class="cards__item">
        <div class="cards__item__img">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669298089/dkfarm/blog/blog3.png"
                alt=""
            />
        </div>
        <div class="cards__item__text">
            <p class="cards__item__text--1">August 9, 2022</p>
            <h2 class="cards__item__text--2">
                Standardiying the Organic industry in the CMR
            </h2>
            <p class="cards__item__text--3 paragraph paragraph--black">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
            </p>
        </div>
    </a>

    <a href="blogpostfour.html" class="cards__item">
        <div class="cards__item__img">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669298089/dkfarm/blog/blog4.png"
                alt=""
            />
        </div>
        <div class="cards__item__text">
            <p class="cards__item__text--1">August 9, 2022</p>
            <h2 class="cards__item__text--2">
                Top 5 Easy and cheap organig breakfast Recipes
            </h2>
            <p class="cards__item__text--3 paragraph paragraph--black">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
            </p>
        </div>
    </a>

    <a href="blogpostfive.html" class="cards__item">
        <div class="cards__item__img">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669298089/dkfarm/blog/blog5.png"
                alt=""
            />
        </div>
        <div class="cards__item__text">
            <p class="cards__item__text--1">August 9, 2022</p>
            <h2 class="cards__item__text--2">
                Everyday Dinner Choices for a healthier, Happier you
            </h2>
            <p class="cards__item__text--3 paragraph paragraph--black">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
            </p>
        </div>
    </a>

    <a href="blogpostsix.html" class="cards__item">
        <div class="cards__item__img">
            <div class="cards__item__img">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669298089/dkfarm/blog/blog6.png"
                    alt=""
                />
            </div>
        </div>
        <div class="cards__item__text">
            <p class="cards__item__text--1">August 9, 2022</p>
            <h2 class="cards__item__text--2">
                Standardiying the Organic industry in the CMR
            </h2>
            <p class="cards__item__text--3 paragraph paragraph--black">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim
            </p>
        </div>
    </a>
</section>
{% include "partials/formulaire.html" %} {% endblock %}
