<!-- carriere.html -->
{% set page_title = "carriere" %} {% extends "layout.html" %} {% block content
%}

<section class="carriere">
  <div class="carriere-header">
    <div class="container carriere-header--desc">
      <div class="title">CARRIERE</div>
      <div class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Amet, repellat voluptates voluptas nulla, architecto animi aut quos obcaecati,<br> tempora corrupti nostrum consequatur sed?  Cum illum quam similique fugit odio incidunt!</div>
    </div>
    <div class="container carriere-header--img">
      <div class="profils"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil6.png" alt=""></div>
      <div class="profils"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil7.png" alt=""></div>
      <div class="profil"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil3.png" alt=""></div>
      <div class="profilss"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil1.png" alt=""></div>
      <div class="profil"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil4.png" alt=""></div>
      <div class="profil"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil5.png" alt=""></div>
      <div class="profil"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668357062/dkfarm/accueil/carriere/bloc%201/profil2.png" alt=""></div>
    </div>
  </div>

  <div class="container carriere-blocs grid-4--cols">
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil1.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil3.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil5.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil7.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil2.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil4.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil6.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
    <div class="carriere-blocs--img">
      <img
        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1668162570/dkfarm/accueil/carriere/bloc%202/profil8.png"
        alt=""
      />
      <div class="carriere-blocs--overlay">
        <h4>Nom de employer</h4>
        <div class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
          repellat voluptates voluptas nulla, architecto animi
        </div>
        <a href="#" class="btn">Lire Plus</a>
      </div>
    </div>
  </div>
</section>

<!-- --------------BLOC CONTACT-------------------- -->
{% include "partials/formulaire.html" %} {% endblock %}
