
{% set page_title = "formulaire" %} {% extends "layout.html" %}

{% block content %}

<section class="section-contact">
  <div class="container">
    <div class="contacts">
      <div class="section-contact__grid">
        <div class="section-contact__grid--1">
          <ul>
            <li>
              <ion-icon class="icon" name="location"></ion-icon>
              Kotto Rue camtel
            </li>
            <li>
              <ion-icon class="icon" name="mail-outline"></ion-icon>
              <a href="#" class="email">info@digital-x-sarl.com</a>
            </li>
            <li>
              <ion-icon name="call"></ion-icon>
              680 97 41 48 &dash; 676 93 02 45(Whatsapp)
            </li>
            <li>
              <ion-icon name="time-outline"></ion-icon>
              Du lundi au vendredi (8 h - 17h)
            </li>
          </ul>

          <ul class="bottom-icons">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"
              ><ion-icon class="icon" name="logo-twitter"></ion-icon
            ></a>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          </ul>
        </div>

        <div class="section-contact__grid--2">
          <h2 class="secondary-heading title">Contactez<span> Nous</span></h2>
          <p class="paragraph">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>

          <form class="form">
            <input
              type="text"
              class="form__input"
              placeholder="Full Name"
              id="name"
              required
            />
            <label for="name" class="form__label">Full Name</label>

            <input
              type="text"
              class="form__input"
              placeholder="Email"
              id="email"
              required
            />
            <label for="email" class="form__label">Email Address</label>

            <input
              type="text"
              class="form__input form__input--message"
              id="message"
              required
            />

            <div class="form__button">
              <button class="btn btn--brown">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
