{% set page_title = "DK Farm" %} {% extends "layout.html" %} {% block metadata
%} {% endblock %} {% block content %}
<main>
    <section class="banner" id="banner">
        <div class="banner__container" id="banner__container">
            <div class="banner__slider--one banner__slider active">
                <div class="banner__description">
                    <h1 class="banner__title">WELCOME TO DK FARM</h1>
                    <p class="banner__text paragraph">
                        1 GDFSTFZTFTZVS SFDTSDFS UHJJDKSJDSUSUY GYSGDYSGDY
                        YSDSTFFS SYGDYSGDYSDGSY YSDYSGYZDFTFD SYDYSGQISUD
                        SGGSYDG
                    </p>
                    <a href="#" class="banner__button btnbg">Contactez-nous</a>
                </div>
            </div>

            <div class="banner__slider--two banner__slider">
                <div class="banner__description">
                    <h1 class="banner__title">Porsciculture</h1>
                    <p class="banner__text">
                        2DK farm est une initiative privé de jeunes camerounais
                        soucieux de contribuer au PIB de leur pays. Ayant saisi
                        le main tendue du president de la république
                    </p>
                    <a href="#" class="banner__button btnbg">Contactez-nous</a>
                </div>
            </div>

            <div class="banner__slider--three banner__slider">
                <div class="banner__description">
                    <h1 class="banner__title">Pisciculture</h1>
                    <p class="banner__text">
                        3GDFSTFZTFTZVS SFDTSDFS UHJJDKSJDSUSUY GYSGDYSGDY
                        YSDSTFFS SYGDYSGDYSDGSY YSDYSGYZDFTFD SYDYSGQISUD
                        SGGSYDG
                    </p>
                    <a href="#" class="banner__button btnbg">Contactez-nous</a>
                </div>
            </div>

            <div class="banner__slider--four banner__slider">
                <div class="banner__description">
                    <h1 class="banner__title">DK FARM BIOGAZ</h1>
                    <p class="banner__text">
                        4 DK farm est une initiative privé de jeunes camerounais
                        soucieux de contribuer au PIB de leur pays. Ayant saisi
                        le main tendue du president de la république
                    </p>
                    <a href="#" class="banner__button btnbg">Contactez-nous</a>
                </div>
            </div>
        </div>
    </section>

   
    <!-- --------------BLOC qui sommes nous-------------------- -->
    <section class="quisommenous container mt-3">
        <h1 class="title title--brown">
            <span>NOTRE FERME</span> QUI SOMMES NOUS
        </h1>
        <div class="quisommenous__submenu">
            <p
                class="quisommenous__submenu--apropos quisommenous__submenu--selected"
                data-tab="about-tab-1"
                onclick="chooseTab(this, 'about-tab-1')"
            >
                A Propos
            </p>
            <p
                class="quisommenous__submenu--mission"
                data-tab="about-tab-2"
                onclick="chooseTab(this, 'about-tab-2')"
            >
                Notre mission
            </p>
            <p
                class="quisommenous__submenu--vision"
                data-tab="about-tab-3"
                onclick="chooseTab(this, 'about-tab-3')"
            >
                Notre vision
            </p>
        </div>
        <div class="quisommenous__content">
            <div
                class="quisommenous__description quisommenous__description--apropos"
                data-tab="content-about-tab-1"
            >
                <h2 class="quisommenous__description--title">A propos</h2>
                <p class="quisommenous__description--paragraph paragraph">
                    1Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet, repellat voluptates voluptas nulla, architecto animi
                    aut quos obcaecati, tempora corrupti nostrum consequatur
                    sed? Cum illum quam similique fugit odio incidunt!
                </p>
                <p class="quisommenous__description--paragraph paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet, repellat voluptates voluptas nulla, architecto animi
                    aut quos obcaecati, tempora corrupti nostrum consequatur
                    sed? Cum illum quam similique fugit odio incidunt!
                </p>

                <a class="btnline quisommenous__description--link">
                    <span>Lire plus</span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>

            <div
                class="quisommenous__description quisommenous__description--mission hide"
                data-tab="content-about-tab-2"
            >
                <h2 class="quisommenous__description--title">Notre mission</h2>
                <p class="quisommenous__description--paragraph paragraph">
                    2Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet, repellat voluptates voluptas nulla, architecto animi
                    aut quos obcaecati, tempora corrupti nostrum consequatur
                    sed? Cum illum quam similique fugit odio incidunt!
                </p>
                <p class="quisommenous__description--paragraph paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet, repellat voluptates voluptas nulla, architecto animi
                    aut quos obcaecati, tempora corrupti nostrum consequatur
                    sed? Cum illum quam similique fugit odio incidunt!
                </p>

                <a class="btnline quisommenous__description--link">
                    <span>Lire plus</span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>

            <div
                class="quisommenous__description quisommenous__description--vision hide"
                data-tab="content-about-tab-3"
            >
                <h2 class="quisommenous__description--title">Notre vision</h2>
                <p class="quisommenous__description--paragraph paragraph">
                    3Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet, repellat voluptates voluptas nulla, architecto animi
                    aut quos obcaecati, tempora corrupti nostrum consequatur
                    sed? Cum illum quam similique fugit odio incidunt!
                </p>
                <p class="quisommenous__description--paragraph paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Amet, repellat voluptates voluptas nulla, architecto animi
                    aut quos obcaecati, tempora corrupti nostrum consequatur
                    sed? Cum illum quam similique fugit odio incidunt!
                </p>

                <a class="btnline quisommenous__description--link">
                    <span>Lire plus</span>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>
            </div>
            <div class="quisommenous__images">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304516/dkfarm/accueil/apropos1.png"
                    alt=""
                    data-tab="image-about-tab-1"
                    class="quisommenous__image1 quisommenous__image--selected"
                />
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304515/dkfarm/accueil/apropos3.png"
                    alt=""
                    data-tab="image-about-tab-2"
                    class="quisommenous__image2"
                />
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304515/dkfarm/accueil/apropos2.png"
                    alt=""
                    data-tab="image-about-tab-3"
                    class="quisommenous__image3"
                />
            </div>
        </div>
    </section>

     <!-- --------------BLOC Nos Produits-------------------- -->
     <section class="produits" id="Produits">
        <div class="produit container">
            <div class="produit-title">
                <div class="title">NOS <b>PRODUITS</b></div>
            </div>
            <div class="grid-6--cols produit-blocs">
                <div class="produit-blocs--1 bg bg-1">
                    <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304515/dkfarm/accueil/nosproduit1.png" alt="Sillure">
                    <div class="text">Silure</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet <span class="block-bg">adipisicing elit. Sit, ut asperiores adipisci beatae modi in quas illo. Alias molestias laboriosam pariatur aliquid consectetur esse, mollitia fugiat perferendis quibusdam maiores sequi?</span> </div>
                </div>
                <div class="produit-blocs--2 bg bg-2">
                    <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304516/dkfarm/accueil/nosproduit2.png" alt="Cochons">
                    <div class="text">Porc</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet <span class="block-bg">adipisicing elit. Sit, ut asperiores adipisci beatae modi in quas illo. Alias molestias laboriosam pariatur aliquid consectetur esse, mollitia fugiat perferendis quibusdam maiores sequi?</span> </div>
                </div>
                <div class="produit-blocs--3 bg bg-3">
                    <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304516/dkfarm/accueil/nosproduitt3.png" alt="Nutriments">
                    <div class="text">Aliments pour poisson</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet <span class="block-bg">adipisicing elit. Sit, ut asperiores adipisci beatae modi in quas illo. Alias molestias laboriosam pariatur aliquid consectetur esse, mollitia fugiat perferendis quibusdam maiores sequi?</span> </div>
                </div>
                <div class="produit-blocs--4 bg bg-4">
                    <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304515/dkfarm/accueil/nosproduit4.png" alt="Tilapia">
                    <div class="text">Tillapia</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet <span class="block-bg">adipisicing elit. Sit, ut asperiores adipisci beatae modi in quas illo. Alias molestias laboriosam pariatur aliquid consectetur esse, mollitia fugiat perferendis quibusdam maiores sequi?</span> </div>
                </div>
                <div class="produit-blocs--5 bg bg-5">
                    <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304515/dkfarm/accueil/nosproduit5.png" alt="Poissons">
                    <div class="text">Kanga</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet <span class="block-bg">adipisicing elit. Sit, ut asperiores adipisci beatae modi in quas illo. Alias molestias laboriosam pariatur aliquid consectetur esse, mollitia fugiat perferendis quibusdam maiores sequi?</span> </div>
                </div>
                <div class="produit-blocs--6 bg bg-6">
                    <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304516/dkfarm/accueil/nosproduitt3.png" alt="Nutriments">
                    <div class="text">Aliments pour poisson</div>
                    <div class="paragraph">Lorem ipsum dolor sit amet <span class="block-bg">adipisicing elit. Sit, ut asperiores adipisci beatae modi in quas illo. Alias molestias laboriosam pariatur aliquid consectetur esse, mollitia fugiat perferendis quibusdam maiores sequi?</span> </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- --------------BLOC Nous Contacter-------------------- -->
    <section class="nous_contacter" id="nous_contacter">

        <div class="container grid-2--cols contact">
            <div class="contact-img">
                <div class="title">COMMENT NOUS <b>CONTACTER</b></div>
                <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304518/dkfarm/accueil/imgcontact.png" alt="image-flottante">
            </div>
            <div class="contact-text">
                <div class="title">COMMENT NOUS <b>CONTACTER</b></div>
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!</p>
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos!</p>
                <a href="#" class="btnbg">Contactez nous</a>
            </div>
        </div>
        
    </section>
    <!-- --------------BLOC POINT DE VENTE-------------------- -->
    <section class="pointvente container mt-3">
        <h1 class="title title--brown">
            <span>nos différents</span> points de vente
        </h1>
        <div class="pointvente__container">
            <div class="pointvente__card pointvente__card--one">
                <div class="pointvente__img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304517/dkfarm/accueil/ptvente1.png"
                        alt="image du premier point de vente"
                    />
                </div>
                <div class="pointvente__text">
                    <h3 class="pointvente__subtitle">
                        DOUALA - Face Mosqué Bonamoussadi
                    </h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet, repellat voluptates voluptas nulla, architecto
                        animi aut quos d? Cum!
                    </p>
                    <a href="tel:699999999" class="pointvente__contact"
                        >Contact : +237 699 999 999</a
                    >
                </div>
            </div>

            <div class="pointvente__card pointvente__card--two">
                <div class="pointvente__img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667304516/dkfarm/accueil/ptvente2.png"
                        alt="image du premier point de vente"
                    />
                </div>
                <div class="pointvente__text">
                    <h3 class="pointvente__subtitle">
                        YAOUNDE - Marché Tropicana
                    </h3>
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Amet, repellat voluptates voluptas nulla, architecto
                        animi aut quos d? Cum!
                    </p>
                    <a href="tel:699999999" class="pointvente__contact"
                        >Contact : +237 699 999 999</a
                    >
                </div>
            </div>
        </div>
    </section>

    <!-- --------------BLOC description-------------------- -->
    <section class="descriptioncallaction mt-3">
        <div class="descriptioncallaction__container container">
            <h1 class="title title--white">
                <span>NOUS NOUS OCCUPONS</span> DE NOS POISSONS
            </h1>
            <p class="descriptioncallaction__text paragraph">
                Sa teneur en ces différents éléments, et donc sa valeur
                énergétique, dépend de la durée et qualité du processus de
                fermentation, du type d'installation et beaucoup de la nature de
                la matière fermentescible utilisée (et en particulier de ses
                proportions en carbone, hydrogène, oxygène et azote ou
                contaminants indésirables). Par exemple, une matière
                fermentescible riche en carbone et hydrogène produit un biogaz
                contenant jusqu'à 90 % de méthane, alors que de la cellulose
                plus pauvre produira un biogaz à seulement 55 % de méthane (et
                45 % de gaz carbonique)2.
            </p>
        </div>
    </section>


    <!-- --------------BLOC EQUIPE-------------------- -->
    <section class="equipe">
        <div class="equipe-blocs grid-2--cols container">
            <div class="equipe-blocs--text">
                <div class="title">NOTRE <b>EQUIPE</b></div>
                <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas accusamus tempore temporibus rem amet laudantium animi optio voluptatum. Natus obcaecati unde porro nostrum ipsam itaque impedit incidunt rem quisquam eos! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, expedita! Similique atque minus laudantium laboriosam animi debitis neque, hic eum a nihil ratione quia illo ullam. Inventore modi vel consectetur!</p>
                <a href="#" class="btnbg">Contactez nous</a>
            </div>
            <div class="equipe-blocs--img">
                <div class="grid-3--cols row row-one">
                    <div class="slider1"></div>
                    <div class="slider2"></div>
                    <div class="slider3"></div>
                </div>
                <div class="grid-3--cols row row-two">
                    <div class="slider4"></div>
                    <div class="cercle"></div>
                    <div class="slider5"></div>
                </div>
                <div class="grid-3--cols row row-three">
                    <div class="slider6"></div>
                    <div class="slider7"></div>
                    <div class="slider8"></div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
