<!-- produits.html -->
{% set page_title = "produits" %} {% extends "layout.html" %} {% block content
%}

<section class="Produits">
  <div class="Produits-bloc">
    <div class="Produits-bloc--1">
      <h3 class="title">Nos Differents Produits</h3>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
        nonummy nibh euismod tincidunt ut laoreet dolore ma
      </p>
      <div class="btnbg">CONTACTEZ NOUS</div>
    </div>
  </div>

  <div class="Produits-bloc--2 container">
    <h3 class="title">WELCOME TO OUR ORGANIC STORE</h3>
    <div class="grid-3--cols groups">
      <div class="group">
        <div class="group-img">
          <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798775/dkfarm/produits/welcom/Group.png"
          />
        </div>
        <div class="group-title">Sensibilisation à la marque</div>
        <div class="group-desc">
          Établissez des relations et partagez les valeurs de votre entreprise
          grâce à un contenu bien conçu, adapté à votre marque et à votre public
          cible.
        </div>
      </div>
      <div class="group">
        <div class="group-img">
          <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798795/dkfarm/produits/welcom/Vector.png"
          />
        </div>
        <div class="group-title">Sensibilisation à la marque</div>
        <div class="group-desc">
          Établissez des relations et partagez les valeurs de votre entreprise
          grâce à un contenu bien conçu, adapté à votre marque et à votre public
          cible.
        </div>
      </div>
      <div class="group">
        <div class="group-img">
          <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798775/dkfarm/produits/welcom/contrat.png"
          />
        </div>
        <div class="group-title">Sensibilisation à la marque</div>
        <div class="group-desc">
          Établissez des relations et partagez les valeurs de votre entreprise
          grâce à un contenu bien conçu, adapté à votre marque et à votre public
          cible.
        </div>
      </div>
    </div>
  </div>

  <div class="Produits-bloc--3 container">
    <div class="grid-2--cols blocs">
      <div class="blocs-text">
        <h3 class="title">Fresh Product</h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quit nulla facilisi.
        </p>
        <div class="blocs-img--2">
          <img
            class="fresh2"
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798753/dkfarm/produits/fresh/fresh2.png"
          />
          <img
            class="fresh1"
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798754/dkfarm/produits/fresh/fresh1.png"
          />
          <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669816275/dkfarm/produits/fresh/fresh.png"
            class="fresh"
          />
        </div>
        <br />
        <p class="paragraph">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        </p>
        <br />
        <p class="paragraph">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        </p>
        <br />
        <p class="paragraph">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        </p>
        <br />
        <p class="paragraph">Pour passer votre commande</p>
        <br />
        <div class="btnbg">CONTACTEZ NOUS</div>
      </div>
      <div class="blocs-img">
        <img
          class="fresh2"
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798753/dkfarm/produits/fresh/fresh2.png"
        />
        <img
          class="fresh1"
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798754/dkfarm/produits/fresh/fresh1.png"
        />
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669816275/dkfarm/produits/fresh/fresh.png"
          class="fresh"
        />
      </div>
    </div>
  </div>

  <div class="Produits-bloc--4 container">
    <div class="title">BEST OF THE DAY</div>
    <div class="paragraph">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut <br />
      laoreet dolore magna aliquam erat volutpat. Ut wisi
    </div>
    <div class="grid-2--cols best">
      <div class="best-blocs grid-2--cols">
        <div class="best-blocs--img">
          <div class="desc-title-1">New Products</div>
          <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798725/dkfarm/produits/best/best1.png"
          />
        </div>
        <div class="best-blocs--txt">
          <div class="desc-title">New Products</div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore ma
          </div>
          <div class="btnbg">CONTACTEZ NOUS</div>
        </div>
      </div>
      <div class="best-blocs grid-2--cols">
        <div class="best-blocs--img">
          <div class="desc-title-1">New Products</div>
          <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798721/dkfarm/produits/best/best2.png"
          />
        </div>
        <div class="best-blocs--txt">
          <div class="desc-title">New Products</div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore ma
          </div>
          <div class="btnbg">CONTACTEZ NOUS</div>
        </div>
      </div>
    </div>
  </div>

  <div class="Produits-bloc--5 container">
    <div class="bloc-text">
      FAITES NOUS CONFIANCE POUR L’ACHAT DE VOS PRODUIT
    </div>
  </div>

  <div class="Produits-bloc--6 container">
    <div class="blocs">
      <div class="blocs-2 grid-1--cols">
        <div class="blocs-2--elts grid-2--cols">
          <div class="elts_img">
            <div class="elts_img__title">New Products</div>
            <img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1670332064/dkfarm/produits/new/new4.png"
            />
          </div>
          <div class="elts--txt">
            <div class="desc-title">New Products</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore ma
            </div>
            <div class="btnbg">PASSEZ VOS COMMANDE</div>
          </div>
        </div>
        <div class="blocs-2--elts grid-2--cols">
          <div class="elts_img">
            <div class="elts_img__title">New Products</div>
            <img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1670332064/dkfarm/produits/new/new3.png"
            />
          </div>
          <div class="elts--txt">
            <div class="desc-title">New Products</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore ma
            </div>
            <div class="btnbg">PASSEZ VOS COMMANDE</div>
          </div>
        </div>
      </div>
      <div class="blocs-3 grid-3--cols">
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798673/dkfarm/produits/new/new3.png"
        />
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798673/dkfarm/produits/new/new4.png"
        />
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798673/dkfarm/produits/new/new5.png"
        />
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798673/dkfarm/produits/new/new6.png"
        />
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798673/dkfarm/produits/new/new7.png"
        />
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1669798673/dkfarm/produits/new/new8.png"
        />
      </div>
    </div>
  </div>
</section>

<!-- --------------BLOC CONTACT-------------------- -->
{% include "partials/formulaire.html" %} {% endblock %}
