<footer>
  <div class="footer">
    <div class="container footer-bloc grid-3--cols">
      <div class="footer-bloc--1">
        <img
          src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1667382998/dkfarm/footer/logo.png"
          alt="logo"
        />
        <p class="paragraph">Weekdays 08:00am - 06:00pm</p>
        <p class="paragraph">Weekdays 08:00am - 06:00pm</p>
      </div>
      <div class="footer-bloc--2">
        <div class="title">CONTACT</div>
        <p class="paragraph">
          523 Sylvan Ave, 5th Floor <br />
          Mountain View, CA 94041 USA
        </p>
        <p class="paragraph">+237 699 999 9999</p>
        <p class="paragraph">info@djokwefarm.com</p>
      </div>
      <div class="footer-bloc--3">
        <div class="title">NEWSLETTER</div>
        <p class="paragraph">
          Subscribe to our newsletter to receive weekly <br />
          news updates offers, and exclusive discounts.
        </p>
      </div>
    </div>
    <div class="footer-copy">
      <div class="container">
        <span>&copy; 2022 DK Farm. All rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>
