<header class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a
                    href="index.html"
                    class="navigation__link navigation__link--1"
                    >Accueil</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link navigation__link--2"
                    >Accompagnement</a
                >
            </li>
            <li class="navigation__item">
                <a
                    href="carriere.html"
                    class="navigation__link navigation__link--3"
                    >Carrière</a
                >
            </li>
            <li class="navigation__item">
                <a href="blog.html" class="navigation__link navigation__link--4"
                    >Blog</a
                >
            </li>
            <li class="navigation__item">
                <a
                    href="contact.html"
                    class="navigation__link navigation__link--5"
                    >contact</a
                >
            </li>
            <li class="navigation__item">
                <a
                    href="produits.html"
                    class="navigation__link navigation__link--6"
                    >nos produits</a
                >
            </li>
        </ul>
    </nav>
    <a href="index.html">
        <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1670856707/dkfarm/accueil/logodk.png" class="navigation__logo" alt="">
    </a>
</header>
